.idea/
*.code-workspace
build/
out/
project/target/
target/
drafts/
node_modules/
package-lock.json
bin/effekt.jar
licenses/
.bsp/
bin
.metals/
project/metals.sbt
project/project
.vscode/
.bloop/
*.tgz

notes/
artwork/
sbt-microsite-docs
