.idea/
*.code-workspace
build/
out/
project/target/
target/
drafts/
node_modules/
package-lock.json
bin/effekt.jar
licenses/
.bsp/
bin
.metals/
.vscode/
.bloop/
*.tgz

notes/
artwork/
sbt-microsite-docs

# Nix
result
result-*
flake.lock # to keep community build _not_ fixed to a single set of inputs
