name: Create Version and Tag
# If you change this name, don't forget to change the name in 'deploy.yml'!

on:
  schedule:
    - cron: '0 3 * * 1'  # Every Monday at 3am UTC
  workflow_dispatch: # For manual triggering

jobs:
  calculate-version-and-tag:
    name: Calculate Version and Create Tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'zulu'
          cache: 'sbt'

      - name: Set up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '12.x'

      - name: Bump version using sbt
        id: set-version
        run: |
          new_version=$(sbt 'bumpVersion' -error | tail -n 1)
          echo "New version := ${new_version}"
          echo "VERSION=${new_version}" >> $GITHUB_ENV

      - name: Update NPM and MVN versions via sbt
        run: sbt updateVersions

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "github-actions[bot]"
          git add build.sbt
          git add package.json
          git add pom.xml
          git commit -m "Bump version to ${{ steps.set-version.outputs.VERSION }}"
          git push

      - name: Create and push tag
        run: |
          git tag v${{ steps.set-version.outputs.VERSION }}
          git push origin v${{ steps.set-version.outputs.VERSION }}
