name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  run-hello-world:
    strategy:
      matrix:
        os: [windows-latest]

    name: Build Effekt compiler and run one test
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: 'true'

    - uses: ./.github/actions/setup-effekt

    - uses: ./.github/actions/run-effekt-tests
      with:
        full-test: 'false'

  build-jar:
    strategy:
      matrix:
        os: [ubuntu-latest]

    name: Build Effekt compiler and run tests
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: 'true'

    - uses: ./.github/actions/setup-effekt
      with:
        install-dependencies: 'true'
        install-valgrind: 'true'

    - uses: ./.github/actions/run-effekt-tests
      with:
        full-test: 'true'
        use-retry: 'false'
