# Do not use this, please. This is just for manual NPM publishing in a time of great need.
name: Publish to NPM manually

permissions:
  id-token: write

on:
  workflow_dispatch: # For manual triggering

jobs:
  build-jar:
    name: Build and assemble the Effekt compiler
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.VERSION }}

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: 'true'

    - uses: ./.github/actions/setup-effekt

    - name: Get the version
      id: get_version
      run: |
          git fetch --tags
          LATEST_TAG=$(git describe --tags --abbrev=0)
          echo "VERSION=${LATEST_TAG#v}" >> $GITHUB_OUTPUT

    - name: Assemble jar file
      run: sbt clean deploy

    - name: Generate npm package
      run: mv $(npm pack) effekt.tgz

    - name: Upload Effekt binary
      uses: actions/upload-artifact@v6
      with:
        name: effekt
        path: bin/effekt

    - name: Upload the npm package
      uses: actions/upload-artifact@v6
      with:
        name: effekt-npm-package
        path: effekt.tgz

  publish-npm:
    name: Publish NPM Package
    runs-on: ubuntu-latest
    needs: [build-jar]
    steps:
      - name: Download npm package
        uses: actions/download-artifact@v6
        with:
          name: effekt-npm-package

      - name: Set up NodeJS ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'

      - name: Publish to NPM as @effekt-lang/effekt
        run: npm publish effekt.tgz --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
